<!-- Sidebar -->
<section id="sidebar">

    <PageIntro />

    <!-- Mini Posts -->
    <section>
        <MiniPostFeed Items="@Posts"/>
    </section>

    <!-- About -->
    <PageBlurb />

    <PageFooter />
</section>

@code {
    [Parameter] public IEnumerable<PostMeta>? Posts { get; set; }
}