<!-- Sidebar -->
<section id="sidebar">

    <PageIntro />

    <!-- Mini Posts -->
    <section>
        <MiniPostFeed Items="@_samplePosts"/>
    </section>

    <!-- About -->
    <PageBlurb />

    <PageFooter />
</section>

@code {
    private List<PostMeta> _samplePosts = new()
        {
            new PostMeta
            {
                Title = "First Post",
                SubTitle = "This is about something",
                Date = new DateOnly(2021, 1, 2).ToDateTime(TimeOnly.MinValue),
                Published = true,
                Tags = new[] { "Post", "Something" },
                Author = new AuthorInfo { Name = "Curious George" }
            },
            new PostMeta
            {
                Title = "Second Post",
                SubTitle = "This is probably something",
                Date = new DateOnly(2021, 1, 3).ToDateTime(TimeOnly.MinValue),
                Published = true,
                Tags = new[] { "Post", "Something", "Whatever" },
                Author = new AuthorInfo { Name = "Curious George" }
            },
        };
}