@if (Items is not null)
{
    <div class="mini-posts">
        @foreach (var post in Items)
        {
            @if (post.Published)
            {
                <MiniPost Meta="@post" TitleRef="post/" />
            }
        }
    </div>
}

@code {
    [Parameter] public IReadOnlyList<PostMeta>? Items { get; set; }
}
