@inject NavigationManager Nav

<section class="blurb">
    <h2>About</h2>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
    <ActionsBlock>
      <ActionItem><NavButton Size="@ButtonSize.Small" Href="page/about">Learn More</NavButton></ActionItem>
    </ActionsBlock>
</section>

@code {

}
