@page "/"

<Post Title="Ultricies sed magna euismod enim vitae gravida"
      SubTitle="Lorem ipsum dolor amet nullam consequat etiam feugiat"
      FeaturedImage="./_content/libanvl.monkey.theme/_theme/images/pic02.jpg">
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
</Post>

<Post Title="Euismod et accumsan"
      SubTitle="Lorem ipsum dolor amet nullam consequat etiam feugiat"
      FeaturedImage="/_content/libanvl.monkey.theme/_theme/images/pic03.jpg">
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
</Post>

<!-- Pagination -->
<ul class="actions pagination">
    <li><a href="" class="disabled button large previous">Previous Page</a></li>
    <li><a href="#" class="button large next">Next Page</a></li>
</ul>

@code {

}
