@using libanvl.monkey.theme.Model
<!-- Sidebar -->
<section id="sidebar">

  <PageIntro/>

    <!-- Mini Posts -->
  <section>
    <MiniPostFeed />
  </section>

    <!-- About -->
    <PageBlurb />

    <PageFooter />

</section>