@using libanvl.monkey.theme.Model

<section id="menu" class="@(Visible ? "is-menu-visible" : "")">

    <!-- Links -->
    @if (Links is not null)
    {
        <section>
            <ul class="links">
                @foreach (var link in Links)
                {
                    <li>
                        <NavLink href="@link.Href" @onclick="() => VisibilityRequested.InvokeAsync(false)">
                            <h3>@link.Title</h3>
                            @if (link.Description is not null)
                            {
                                <p>@link.Description</p>
                            }
                        </NavLink>
                    </li>
                }
            </ul>
        </section>
    }

    <!-- Actions -->
    <section>
        <ul class="actions stacked">
            <li><a href="#" class="button large fit">Log In</a></li>
        </ul>
    </section>
</section>

@code {
    [CascadingParameter] public PageLink[]? Links { get; set; }

    [Parameter] public bool Visible { get; set; }

    [Parameter] public EventCallback<bool> VisibilityRequested { get; set; }
}