@using libanvl.monkey.theme.Model

<header id="header">
    <h1><NavLink href="">@SiteInfo.Title</NavLink></h1>

    @if (SiteInfo.Links is not null)
    {
        <nav class="links">
            <ul>
                @foreach (var link in SiteInfo.Links)
                {
                    <li><NavLink href="@link.Href">@link.Title</NavLink></li>
                }
            </ul>
        </nav>
    }

    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu" @onclick="ToggleMenuVisible">
                <a class="fa-bars">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<PageMenu Visible="@menuVisible" VisibilityRequested="OnMenuVisibilityRequested" />

@code {
    private bool menuVisible = false;

    [CascadingParameter] public SiteInfo SiteInfo { get; set; }

    private void ToggleMenuVisible()
    {
        menuVisible = !menuVisible;
    }

    public void OnMenuVisibilityRequested(bool isVisible)
    {
        menuVisible = isVisible;
    }
}
